<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportedFileExtensions</key>
	<dict>
		<key>File</key>
		<array>
			<string>zip</string>
		</array>
		<key>VideoAudio</key>
		<array>
			<string>mp4</string>
			<string>mp3</string>
			<string>mov</string>
		</array>
		<key>Image</key>
		<array>
			<string>png</string>
			<string>jpeg</string>
		</array>
		<key>Document</key>
		<array>
			<string>pdf</string>
		</array>
	</dict>
	<key>HiddenFlieName</key>
	<array>
		<string>.DS_Store</string>
		<string>__MACOSX</string>
	</array>
</dict>
</plist>
