<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupportedFileExtensions</key>
	<dict>
		<key>File</key>
		<array>
			<string>zip</string>
		</array>
		<key>VideoAudio</key>
		<array>
			<string>mp4</string>
			<string>m4v</string>
			<string>mp3</string>
			<string>mov</string>
			<string>m4a</string>
			<string>aiff</string>
			<string>wav</string>
			<string>au</string>
			<string>aac</string>
		</array>
		<key>Image</key>
		<array>
			<string>png</string>
			<string>jpeg</string>
			<string>jp2</string>
			<string>gif</string>
			<string>tiff</string>
			<string>bmp</string>
			<string>ico</string>
		</array>
		<key>Document</key>
		<array>
			<string>pdf</string>
			<string>doc</string>
			<string>docx</string>
			<string>rtf</string>
			<string>xml</string>
			<string>html</string>
			<string>txt</string>
			<string>xls</string>
		</array>
	</dict>
	<key>HiddenFlieName</key>
	<array>
		<string>.DS_Store</string>
		<string>__MACOSX</string>
	</array>
</dict>
</plist>
